<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel= "icon" href= "/img/bro.png">
    <link rel= "stylesheet" href= "./css/styles.css">
</head>

<body>
    <div class= "k">
        {{>header}}
        <br>
        {{problem}}
    </div>

    {{>footer}}
</body>

</html>